asgiref==3.12.1
Django==6.1.1
pillow==12.3.0
sqlparse==0.6.0


certifi==2026.6.17
charset-normalizer==3.4.7
crispy-bootstrap5==2026.3
dj-database-url==3.1.2
django-crispy-forms==2.6
django-jazzmin==3.0.4
django-nested-admin==4.1.6
django-tailwind==4.4.2
gunicorn==26.0.0
idna==3.18
packaging==26.2
pillow==12.3.0
psycopg2-binary==2.9.12
pytailwindcss==0.3.0
python-decouple==3.8
python-dotenv==1.2.2
python-monkey-business==1.1.0
requests==2.34.2
urllib3==2.7.0
whitenoise==6.12.0
